.fontColor1 {
    color: #c21111;
}

.imgLogo {
    height: 60px;
}

.imgLogoTitle {
    height: 16px;
}

/* Fonts */
.fontAzonix {
    font-family: "Azonix";
}

@font-face {
    font-family: "Azonix";
    src: url("font/Azonix.otf");
}

/* Fonts */
/* Background body */
#bodyPicsCover {
    background-image: url('../assets/img/bodyBackground.jpg');
    background-position: left;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Background body */
/* scrollUp button */
#scrollUp {
    position: fixed;
    bottom: 5px;
    right: -100px;
    font-size: 50px;
}

.scrollUpColor {
    color: #c21111;
    opacity: 0.7;
}

/* scrollUp button */

.image {
    -webkit-transition: all 0.5s ease;
    /* Safari et Chrome */
    -moz-transition: all 0.5s ease;
    /* Firefox */
    -ms-transition: all 0.5s ease;
    /* Internet Explorer 9 */
    -o-transition: all 0.5s ease;
    /* Opera */
    transition: all 0.5s ease;
}

.image:hover {
    /* L'image est grossie de 25% */
    -webkit-transform: scale(1.03);
    /* Safari et Chrome */
    -moz-transform: scale(1.03);
    /* Firefox */
    -ms-transform: scale(1.03);
    /* Internet Explorer 9 */
    -o-transform: scale(1.03);
    /* Opera */
    transform: scale(1.03);
}

nav {
    opacity: 0.7;
}